/* CSS Document */
*{margin:0;padding:0;}
body {
	margin:0;
	background:#fff;
	font-size:14px;
}
body img{border:none; max-width:100%;}
#layout{ max-width:640px; margin:0 auto; overflow:hidden;}

.top{ height:80px; background:#d13451;padding:0 5%; line-height:80px; text-align:center; font-size:22px; font-weight:bold;color:#fff;}
.top a.ret{float:left; width:50px; height:80px; display:block; background:url(../img/ret_nor.png) no-repeat center; background-size:auto 50px}
.top a.ret:hover{ background:url(../img/ret_pre.png) no-repeat center;background-size:auto 50px;}
.top a.search{float:right;width:50px; height:80px; display:block; background:url(../img/search_nor.png) no-repeat center; background-size:auto 50px}
.top a.search:hover{ background:url(../img/search_pre.png) no-repeat center;background-size:auto 50px;}

.conter{ position:relative;width:100%;height:900px;background:url(../img/xiaoren.png) no-repeat center;background-size:auto 350px;}
.conter .img1,.conter .img2,.conter .img3,.conter .img4,.conter .img5,.conter .img6{width:102px; height:160px; text-align:center; color:#666;}
.conter .img1 img,.conter .img2 img,.conter .img3 img,.conter .img4 img,.conter .img5 img,.conter .img6 img{ width:90px; height:90px;}
.conter a{color:#666; text-decoration:none;}
.conter a:hover img{filter:alpha(opacity=70);  /*支持 IE 浏览器*/-moz-opacity:0.70; /*支持 FireFox 浏览器*/opacity:0.70;  /*支持 Chrome, Opera, Safari 等浏览器*/ }

.conter .title{position:absolute; top:5%; left:6%; width:293px; height:82px; background:url(../img/title_txt.png) no-repeat; }
.conter .img1{position:absolute; bottom:10%; left:45%;}
.conter .img2{position:absolute; top:32%; left:10%;}
.conter .img3{position:absolute; top:27%; right:8%;}
.conter .img4{position:absolute; top:55%; right:10%;}
.conter .img5{position:absolute; top:16%; right:45%;}
.conter .img6{position:absolute; bottom:22%; left:8%;}

/*列表*/
.listbox{ position:relative;width:100%;}
.listbox:after{ clear:both; content:""; display:block;}
.listbox .list{ margin:0 4%; padding:2% 0;font-family:"微软雅黑"; border-bottom:1px solid #a0a0a0;}
.listbox .list .list_title{height:45px; line-height:45px; font-size:11px;color:#d13451;}
.listbox .list .list_title span{float:right;display:block;width:29px;height:45px;background:url(../img/list_icon1.png) no-repeat center;background-size:auto 25px}
.listbox .list .list_title span.close{background:url(../img/list_icon2.png) no-repeat center;background-size:auto 25px;}
.listbox .list .list_con{ padding:1% 2%;}
.listbox .list .none{ display:none;}
.list_con ul{list-style:none;}
.list_con ul li{ line-height:150%;font-size:16px; color:#666;background:url(../img/dian.png) no-repeat center left; background-position:0 8px; text-align:center;}
.list_con ul li p{ padding-left:3%; text-align:left;}
.list_con ul li img{ margin:4% auto; min-height:200px;}









